doctype html
// This is a static file
// served from your routes in server.js
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='A cool thing made with Glitch')
  title Welcome to Glitch!
  link#favicon(rel='icon' href='https://docs.oracle.com/favicon.ico' type='image/x-icon')
  // import the webpage's stylesheet
  link(rel='stylesheet' href='/style.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')

  // import the webpage's client-side javascript file
  script(src='/script.js' defer='')
nav.navbar.navbar-expand-sm.navbar-light.bg-light
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/users') Users
      li.nav-item
        a.nav-link(href='/transactions') Transactions
      li.nav-item
        a.nav-link(href='/books') Books
main
  form(method='POST' action='/transactions/create')
    label
      | Book
      select(name='bookId')
        each book in books
          option(value=book.id)= book.title
    label
      | User
      select(name='userId')
        each user in users
          option(value=user.id)= user.name
    button(type='submit') Add User
  section.dreams
    ul
      each transaction in transactions
        li
          div= transaction.bookId + "" + transaction.userId
          if transaction.isComplete
            span Completed
          else
            a(href="/transactions/" + transaction.userId + "/complete") Complete

    ul
      each page in arrPage
        li
          if currentPage == page
            p= page
          else
            a(href="?page=" + page)= page